<%= erb(:'partials/meals-nav') %>

<h1><%= @meal.title %></h1>
<p><%= @meal.description %></p>
<img src="/images/meals-logo.png" alt="Image of a Meal">
<br>
<a href="/meals/<%= @meal.id %>/edit">EDIT</a>
<form action="/meals/<%= @meal.id %>" method="post">
  <input type="submit" value="Delete">
  <input type="hidden" name="_method" value="DELETE">
</form>
